<meta charset="UTF-8">
<title>Utopia</title>
<link rel="stylesheet" type="text/css" href="/css/common.css">
<link rel="stylesheet" type="text/css" href="/css/pages/addHotel.css">
<link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css">
<script src="https://cdn.tailwindcss.com"></script> 
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script>
<script src="/js/jquery-3.6.0.min.js"></script>
<style>
  [x-cloak] {
    display: none;
  }
</style>