<form method="get" class="mt-8 mb-8" id="searchForm">
    <div class="flex justify-center items-center flex-wrap lg:flex-nowrap sm:flex-wrap">
        <!-- 검색 -->
        <div class="my-2 input-group relative flex flex-wrap items-center w-full xl:max-w-xl md:max-w-full lg:w-full sm:w-full rounded mx-2">
        <input type="search" class="form-control relative flex-auto min-w-0 block px-3 py-2 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder="Search" aria-label="Search" aria-describedby="button-addon2" name="search">
        <span class="absolute right-0 pin-r pin-t mr-4 text-purple-lighter" id="basic-addon2">
            <svg class="h-4 text-dark text-gray-600 fill-current" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve" height="512px">
            <path d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z"></path>
        </svg>
        </span>
        </div>
        <!-- Date -->
        <div class="my-2 antialiased sans-serif items-center mr-2">
        <div x-data="app()" x-init="[initDate(), getNoOfDays()]" x-cloak>
            <div class="container">
            <div class="w-64">
                <div class="relative">
                <input type="hidden" name="date" x-ref="date">
                <input 
                    type="text"
                    readonly
                    x-model="datepickerValue"
                    @click="showDatepicker = !showDatepicker"
                    @keydown.escape="showDatepicker = false"
                    class="w-full pl-4 pr-10 py-3 leading-none rounded-lg shadow focus:outline-none focus:shadow-outline text-gray-600 font-medium shadow-indigo-900/40"
                    placeholder="Select date">
                <div class="absolute top-0 right-0 px-3 py-2">
                    <svg class="h-6 w-6 text-gray-400"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"/>
                    </svg>
                </div>
                <div 
                    class="bg-white mt-12 rounded-lg shadow p-4 absolute top-0 left-0" 
                    style="width: 17rem" 
                    x-show.transition="showDatepicker"
                    @click.away="showDatepicker = false">
                    <div class="flex justify-between items-center mb-2">
                    <div>
                        <span x-text="MONTH_NAMES[month]" class="text-lg font-bold text-gray-800"></span>
                        <span x-text="year" class="ml-1 text-lg text-gray-600 font-normal"></span>
                    </div>
                    <div>
                        <button 
                        type="button"
                        class="transition ease-in-out duration-100 inline-flex cursor-pointer hover:bg-gray-200 p-1 rounded-full" 
                        :class="{'cursor-not-allowed opacity-25': month == 0 }"
                        :disabled="month == 0 ? true : false"
                        @click="month--; getNoOfDays()">
                        <svg class="h-6 w-6 text-gray-500 inline-flex"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"/>
                        </svg>  
                        </button>
                        <button 
                        type="button"
                        class="transition ease-in-out duration-100 inline-flex cursor-pointer hover:bg-gray-200 p-1 rounded-full" 
                        :class="{'cursor-not-allowed opacity-25': month == 11 }"
                        :disabled="month == 11 ? true : false"
                        @click="month++; getNoOfDays()">
                        <svg class="h-6 w-6 text-gray-500 inline-flex"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"/>
                        </svg>									  
                        </button>
                    </div>
                    </div>
                    <div class="flex flex-wrap mb-3 -mx-1">
                    <template x-for="(day, index) in DAYS" :key="index">	
                        <div style="width: 14.26%" class="px-1">
                        <div
                            x-text="day" 
                            class="text-gray-800 font-medium text-center text-xs"></div>
                        </div>
                    </template>
                    </div>
                    <div class="flex flex-wrap -mx-1">
                    <template x-for="blankday in blankdays">
                        <div 
                        style="width: 14.28%"
                        class="text-center border p-1 border-transparent text-sm"	
                        ></div>
                    </template>	
                    <template x-for="(date, dateIndex) in no_of_days" :key="dateIndex">	
                        <div style="width: 14.28%" class="px-1 mb-1">
                        <div
                            @click="getDateValue(date)"
                            x-text="date"
                            class="cursor-pointer text-center text-sm leading-none rounded-full leading-loose transition ease-in-out duration-100"
                            :class="{'bg-blue-500 text-white': isToday(date) == true, 'text-gray-700 hover:bg-blue-200': isToday(date) == false }"	
                        ></div>
                        </div>
                    </template>
                    </div>
                </div>
                </div>	 
            </div>
            </div>
        </div>
        </div>
        <!-- Date -->
        <div class="my-2 antialiased sans-serif items-center mr-2">
        <div x-data="app()" x-init="[initDate(), getNoOfDays()]" x-cloak>
            <div class="container">
            <div class="w-64">
                <div class="relative">
                <input type="hidden" name="date" x-ref="date">
                <input 
                    type="text"
                    readonly
                    x-model="datepickerValue"
                    @click="showDatepicker = !showDatepicker"
                    @keydown.escape="showDatepicker = false"
                    class="w-full pl-4 pr-10 py-3 leading-none rounded-lg shadow focus:outline-none focus:shadow-outline text-gray-600 font-medium shadow-indigo-900/40"
                    placeholder="Select date">
                <div class="absolute top-0 right-0 px-3 py-2">
                    <svg class="h-6 w-6 text-gray-400"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"/>
                    </svg>
                </div>
                <div 
                    class="bg-white mt-12 rounded-lg shadow p-4 absolute top-0 left-0" 
                    style="width: 17rem" 
                    x-show.transition="showDatepicker"
                    @click.away="showDatepicker = false">
                    <div class="flex justify-between items-center mb-2">
                    <div>
                        <span x-text="MONTH_NAMES[month]" class="text-lg font-bold text-gray-800"></span>
                        <span x-text="year" class="ml-1 text-lg text-gray-600 font-normal"></span>
                    </div>
                    <div>
                        <button 
                        type="button"
                        class="transition ease-in-out duration-100 inline-flex cursor-pointer hover:bg-gray-200 p-1 rounded-full" 
                        :class="{'cursor-not-allowed opacity-25': month == 0 }"
                        :disabled="month == 0 ? true : false"
                        @click="month--; getNoOfDays()">
                        <svg class="h-6 w-6 text-gray-500 inline-flex"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"/>
                        </svg>  
                        </button>
                        <button 
                        type="button"
                        class="transition ease-in-out duration-100 inline-flex cursor-pointer hover:bg-gray-200 p-1 rounded-full" 
                        :class="{'cursor-not-allowed opacity-25': month == 11 }"
                        :disabled="month == 11 ? true : false"
                        @click="month++; getNoOfDays()">
                        <svg class="h-6 w-6 text-gray-500 inline-flex"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"/>
                        </svg>									  
                        </button>
                    </div>
                    </div>
                    <div class="flex flex-wrap mb-3 -mx-1">
                    <template x-for="(day, index) in DAYS" :key="index">	
                        <div style="width: 14.26%" class="px-1">
                        <div
                            x-text="day" 
                            class="text-gray-800 font-medium text-center text-xs"></div>
                        </div>
                    </template>
                    </div>
                    <div class="flex flex-wrap -mx-1">
                    <template x-for="blankday in blankdays">
                        <div 
                        style="width: 14.28%"
                        class="text-center border p-1 border-transparent text-sm"	
                        ></div>
                    </template>	
                    <template x-for="(date, dateIndex) in no_of_days" :key="dateIndex">	
                        <div style="width: 14.28%" class="px-1 mb-1">
                        <div
                            @click="getDateValue(date)"
                            x-text="date"
                            class="cursor-pointer text-center text-sm leading-none rounded-full leading-loose transition ease-in-out duration-100"
                            :class="{'bg-blue-500 text-white': isToday(date) == true, 'text-gray-700 hover:bg-blue-200': isToday(date) == false }"	
                        ></div>
                        </div>
                    </template>
                    </div>
                </div>
                </div>	 
            </div>
            </div>
        </div>
        </div>
        <!-- Button -->
        <button class="my-2 px-4 py-2 font-semibold text-sm bg-indigo-500 text-white rounded-full shadow-sm">
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" class="w-6 h-6"><path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
        </button>
    </div>
</form>
<script>
    // Date
    const MONTH_NAMES = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
    const DAYS = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];
    function app() {
      return {
        showDatepicker: false,
        datepickerValue: '',
        month: '',
        year: '',
        no_of_days: [],
        blankdays: [],
        days: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],

        initDate() {
          let today = new Date();
          this.month = today.getMonth();
          this.year = today.getFullYear();
          this.datepickerValue = new Date(this.year, this.month, today.getDate()).toDateString();
        },

        isToday(date) {
          const today = new Date();
          const d = new Date(this.year, this.month, date);
          return today.toDateString() === d.toDateString() ? true : false;
        },

        getDateValue(date) {
          let selectedDate = new Date(this.year, this.month, date);
          this.datepickerValue = selectedDate.toDateString();
          this.$refs.date.value = selectedDate.getFullYear() +"-"+ ('0'+ selectedDate.getMonth()).slice(-2) +"-"+ ('0' + selectedDate.getDate()).slice(-2);
          console.log(this.$refs.date.value);
          this.showDatepicker = false;
        },

        getNoOfDays() {
          let daysInMonth = new Date(this.year, this.month + 1, 0).getDate();
          // find where to start calendar day of week
          let dayOfWeek = new Date(this.year, this.month).getDay();
          let blankdaysArray = [];
          for ( var i=1; i <= dayOfWeek; i++) {
            blankdaysArray.push(i);
          }
          let daysArray = [];
          for ( var i=1; i <= daysInMonth; i++) {
            daysArray.push(i);
          }
          this.blankdays = blankdaysArray;
          this.no_of_days = daysArray;
        }
      }
    }

    // Search
    $("#searchForm").submit(function(e) {
        e.preventDefault();

        let data_search = e.target.elements.search.value;
        let data_checkin = e.target.elements.date[0].value;
        let data_checkout = e.target.elements.date[1].value;
        if(!data_search) {
          alert("검색어를 입력해주세요.");
          return;
        }
        if(!data_checkin) {
          alert("체크인 날짜를 입력해주세요.");
          return;
        }
        if(!data_checkout) {
          alert("체크아웃 날짜를 입력해주세요.");
          return;
        }
        if(data_search && data_checkin && data_checkout) {
            let requestUrl = `/api/search/${data_search}`;
            // location.href = `search/${data_search}`;
            location.href = `search?search=${data_search}&checkin=${data_checkin}&checkout=${data_checkout}`;
        }
    });
</script>