<div class="max-w-xs w-72 ml-2 mr-2">
    <div class="bg-white shadow-md border border-gray-200 rounded-lg max-w-sm mb-5">
        <a href="#">
            <img class="rounded-t-lg" src="<%= result[idx].hotel_img_path %>" alt="<%= result[idx].hotel_img_path %>">
        </a>
        <div class="p-5">
            <a href="#">
                <h5 class="text-gray-900 font-bold text-xl tracking-tight mb-2">
                    <%= result[idx].hotel_name %>
                </h5>
            </a>
            <p class="text-sm text-gray-700 mb-3">
                <%= result[idx].location %>
            </p>
        </div>
    </div>
</div>